{% extends "base.html" %}
{% load static %}    
{% block main %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }
    h1 {
        text-align: center;
        color: #333;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    thead {
        background-color: #007bff;
        color: #fff;
    }
    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tbody tr:hover {
        background-color: #f1f1f1;
    }
    th {
        font-weight: bold;
    }
    td {
        color: #333;
    }
</style>
    

    <div class="preloader"></div>

    <!-- Header navbar start -->
    <div class="header-topbar style-2">
        <div class="container padding-none">
            <div class="row">
                <div class="col-md-8 col-sm-6 welcome-top">
                    <ul class="list-inline top-icon">
                        
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <ul class="list-inline text-right icon-style-1">
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "navbar.html" %}
    
    <!-- Header navbar end -->


    <section class="inner-bg over-layer-black" style="background-image: url('{% static "img/bg/mg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="mini-title inner-style-2">
                        <h3 >MESSAGES</h3>
                        <p><a href="{% url 'index' %}">Home</a> <span class="fa fa-angle-right"></span> <a href="#"><b>MESSAGES </b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% comment %} {% for i in userprofiles  %}
{{i.password}}
{{i.password}}
{{i.password}}
{{i.password}}
{{i.password}}
{{i.password}}
{{i.password}}
{% endfor %} {% endcomment %}
    <!-- Team start -->
    <section class="team-area">
        <div class="container">
            <div class="section-content">
                <h1 style="text-align: center;">All MESSAGES</h1>
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.id }}</td>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.subject }}</td>
                            <td>{{ contact.message }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- Team end -->

   

    <section class="footer-copy-right bg-f9">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p><a target="_blank" href=" ">HAVE A NICE DAY</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Style End -->

  
    {% endblock  %}